In [1]:
import pandas as pd
import numpy as np
import pyspark

np.random.seed(13)

pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

### Spark Dataframe Basics

In [2]:
pandas_dataframe

           n group  abool
0  -0.712391     z  False
1   0.753766     x  False
2  -0.044503     z  False
3   0.451812     y  False
4   1.345102     z  False
5   0.532338     y  False
6   1.350188     z  False
7   0.861211     x  False
8   1.478686     z   True
9  -1.045377     y   True
10 -0.788989     x  False
11 -1.261606     y  False
12  0.562847     y   True
13 -0.243326     y   True
14  0.913741     y  False
15  0.317351     x  False
16  0.127303     z  False
17  2.150383     y   True
18  0.606289     x  False
19 -0.026772     x   True

In [3]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [8]:
#Convert the pandas dataframe to a spark dataframe. 
# From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.
df = spark.createDataFrame(pandas_dataframe)

In [9]:
# Show the first 3 rows of the dataframe.
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [7]:
# Show the first 7 rows of the dataframe.
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [10]:
# View a summary of the data using .describe.
df.describe()

DataFrame[summary: string, n: string, group: string]

In [13]:
# Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.
new_df = df.select('n','abool')
new_df.show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

In [14]:
# Use .select to create a new dataframe with just the group and abool columns. 
# View the first 5 rows of this dataframe.
other_df = df.select('group','abool')
other_df.show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

In [17]:
# Use .select to create a new dataframe with the group column and the abool 
# column renamed to a_boolean_value. Show the first 3 rows of this dataframe.
another_df = df.select(df.group,df.abool.alias('a_boolean_value'))
another_df.show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

In [18]:
# Use .select to create a new dataframe with the group column and 
# the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.
last_df = df.select(df.group,df.n.alias('a_numeric_value'))
last_df.show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

### Column Manipulation

In [19]:
# Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named df
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

In [21]:
# Use .select to add 4 to the n column. Show the results.
df.select(df.n+4).show(5)

+------------------+
|           (n + 4)|
+------------------+
|3.2876093379494122|
| 4.753766378659703|
|3.9554969216619464|
|  4.45181233874579|
|5.3451017084510095|
+------------------+
only showing top 5 rows

In [22]:
# Subtract 5 from the n column and view the results.
df.select(df.n-5).show(5)

+-------------------+
|            (n - 5)|
+-------------------+
| -5.712390662050588|
| -4.246233621340297|
| -5.044503078338053|
|  -4.54818766125421|
|-3.6548982915489905|
+-------------------+
only showing top 5 rows

In [23]:
# Multiply the n column by 2. View the results along with the original numbers.
df.select(df.n*2).show(5)

+--------------------+
|             (n * 2)|
+--------------------+
|  -1.424781324101176|
|   1.507532757319406|
|-0.08900615667610691|
|  0.9036246774915795|
|  2.6902034169020195|
+--------------------+
only showing top 5 rows

In [32]:
# Add a new column named n2 that is the n value multiplied by -1. 
# Show the first 4 rows of your dataframe. You should see the original n value as well as n2.
df.select('*', df.n, (df.n*-1).alias('n2')).show(4)

+--------------------+-----+-----+--------------------+--------------------+--------------------+--------------------+
|                   n|group|abool|                  n2|                  n3|                   n|                  n2|
+--------------------+-----+-----+--------------------+--------------------+--------------------+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|   0.507500455376875|  -0.712390662050588|   0.712390662050588|
|   0.753766378659703|    x|false|  -0.753766378659703|  0.5681637535977627|   0.753766378659703|  -0.753766378659703|
|-0.04450307833805...|    z|false|0.044503078338053455|0.001980523981562...|-0.04450307833805...|0.044503078338053455|
| 0.45181233874578974|    y|false|-0.45181233874578974| 0.20413438944294027| 0.45181233874578974|-0.45181233874578974|
+--------------------+-----+-----+--------------------+--------------------+--------------------+--------------------+
only showing top 4 rows

In [28]:
# Add a new column named n3 that is the n value squared. 
# Show the first 5 rows of your dataframe. You should see both n, n2, and n3.
df = df.select('*', (df.n * -1).alias('n2'))
df.show(4)

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n2|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|
|   0.753766378659703|    x|false|  -0.753766378659703|
|-0.04450307833805...|    z|false|0.044503078338053455|
| 0.45181233874578974|    y|false|-0.45181233874578974|
+--------------------+-----+-----+--------------------+
only showing top 4 rows

In [29]:
# Add a new column named n3 that is the n value squared. 
# Show the first 5 rows of your dataframe. You should see both n, n2, and n3.
df = df.select('*', (df.n * df.n).alias('n3'))
df.show(5)

+--------------------+-----+-----+--------------------+--------------------+
|                   n|group|abool|                  n2|                  n3|
+--------------------+-----+-----+--------------------+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|    x|false|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|    z|false|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|    y|false|-0.45181233874578974| 0.20413438944294027|
|  1.3451017084510097|    z|false| -1.3451017084510097|  1.8092986060778251|
+--------------------+-----+-----+--------------------+--------------------+
only showing top 5 rows

In [33]:
# What happens when you run the code below?
df.group + df.abool

Column<'(group + abool)'>

A Column object is produced that represents the transformation of adding together the group and abool columns.

In [34]:
# What happens when you run the code below? What is the difference between this and the previous code sample?
df.select(df.group + df.abool)

AnalysisException: cannot resolve '(CAST(group AS DOUBLE) + abool)' due to data type mismatch: differing types in '(CAST(group AS DOUBLE) + abool)' (double and boolean).;
'Project [unresolvedalias((cast(group#33 as double) + abool#34), Some(org.apache.spark.sql.Column$$Lambda$3209/0x0000000801386840@71f872e9))]
+- Project [n#32, group#33, abool#34, n2#366, (n#32 * n#32) AS n3#388]
   +- Project [n#32, group#33, abool#34, (n#32 * cast(-1 as double)) AS n2#366]
      +- LogicalRDD [n#32, group#33, abool#34], false

An error is produced referencing the incompatible types. Unlike the previous code sample, this one is done within the context of a .select, so even though there are still no values produced (we haven't invoked an action yet), spark is aware that the types are incompatible.

In [40]:
# Try adding various other columns together. 
# What are the results of combining the different data types?
col = df.n2 + df.n3
df.select(col).show(5)

+--------------------+
|           (n2 + n3)|
+--------------------+
|   1.219891117427463|
|-0.18560262506194025|
|0.046483602319616374|
|-0.24767794930284948|
|  0.4641968976268154|
+--------------------+
only showing top 5 rows

### Type casting

In [41]:
# Use the starter code above to re-create a spark dataframe.
df = spark.createDataFrame(pandas_dataframe)
df.show(5)

In [43]:
# Use .printSchema to view the datatypes in your dataframe.
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)

In [44]:
# Use .dtypes to view the datatypes in your dataframe.
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

In [45]:
# What is the difference between the two code samples below?
df.abool.cast('int')

Column<'CAST(abool AS INT)'>

In [46]:
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

One is a creating a Column and one is using that same column in a .select in order to view the results of the cast.

In [47]:
# Use .select and .cast to convert the abool column to an integer type. 
# View the results.
df.select('abool', df.abool.cast('int')).show()

+-----+-----+
|abool|abool|
+-----+-----+
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
| true|    1|
| true|    1|
|false|    0|
|false|    0|
| true|    1|
| true|    1|
|false|    0|
|false|    0|
|false|    0|
| true|    1|
|false|    0|
| true|    1|
+-----+-----+

In [49]:
# Convert the group column to a integer data type and view the results. 
# What happens?
df.select('group', df.group.cast('int')).show()

+-----+-----+
|group|group|
+-----+-----+
|    z| null|
|    x| null|
|    z| null|
|    y| null|
|    z| null|
|    y| null|
|    z| null|
|    x| null|
|    z| null|
|    y| null|
|    x| null|
|    y| null|
|    y| null|
|    y| null|
|    y| null|
|    x| null|
|    z| null|
|    y| null|
|    x| null|
|    x| null|
+-----+-----+

The values are converted to nulls.

In [51]:
# Convert the n column to a integer data type and view the results. 
# What happens?
df.select('n', df.n.cast('int')).show()

+--------------------+---+
|                   n|  n|
+--------------------+---+
|  -0.712390662050588|  0|
|   0.753766378659703|  0|
|-0.04450307833805...|  0|
| 0.45181233874578974|  0|
|  1.3451017084510097|  1|
|  0.5323378882945463|  0|
|  1.3501878997225267|  1|
|  0.8612113741693206|  0|
|  1.4786857374358966|  1|
| -1.0453771305385342| -1|
| -0.7889890249515489|  0|
|  -1.261605945319069| -1|
|  0.5628467852810314|  0|
|-0.24332625188556253|  0|
|  0.9137407048596775|  0|
| 0.31735092273633597|  0|
| 0.12730328020698067|  0|
|  2.1503829673811126|  2|
|  0.6062886568962988|  0|
|-0.02677164998644...|  0|
+--------------------+---+

In [52]:
# Convert the abool column to a string data type and view the results. 
# What happens?
df.select('abool', df.abool.cast('string')).show()

+-----+-----+
|abool|abool|
+-----+-----+
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
| true| true|
| true| true|
|false|false|
|false|false|
| true| true|
| true| true|
|false|false|
|false|false|
|false|false|
| true| true|
|false|false|
| true| true|
+-----+-----+

### Built-in Functions

In [53]:
# Use the starter code above to re-create a spark dataframe.
df = spark.createDataFrame(pandas_dataframe)
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

In [54]:
# Import the necessary functions from pyspark.sql.functions
from pyspark.sql.functions import min, max, mean, lit, concat

In [55]:
# Find the highest n value.
# Find the lowest n value.
# Find the average n value.
df.select(max('n'), min('n'), mean('n')).show()

+------------------+------------------+------------------+
|            max(n)|            min(n)|            avg(n)|
+------------------+------------------+------------------+
|2.1503829673811126|-1.261605945319069|0.3664026449885217|
+------------------+------------------+------------------+

In [62]:
# Use concat to change the group column to say, 
# e.g. "Group: x" or "Group: y"
df.select(concat(lit('Group: '), 'group')).show(5)

+----------------------+
|concat(Group: , group)|
+----------------------+
|              Group: z|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: z|
+----------------------+
only showing top 5 rows

In [63]:
# Use concat to combine the n and group columns to produce 
# results that look like this: "x: -1.432" or "z: 2.352"
df.select(concat('group', lit(': '), 'n')).show()

+--------------------+
|concat(group, : , n)|
+--------------------+
|z: -0.71239066205...|
|x: 0.753766378659703|
|z: -0.04450307833...|
|y: 0.451812338745...|
|z: 1.345101708451...|
|y: 0.532337888294...|
|z: 1.350187899722...|
|x: 0.861211374169...|
|z: 1.478685737435...|
|y: -1.04537713053...|
|x: -0.78898902495...|
|y: -1.26160594531...|
|y: 0.562846785281...|
|y: -0.24332625188...|
|y: 0.913740704859...|
|x: 0.317350922736...|
|z: 0.127303280206...|
|y: 2.150382967381...|
|x: 0.606288656896...|
|x: -0.02677164998...|
+--------------------+

### When/Otherwise

In [66]:
from pyspark.sql.functions import when

In [67]:
# Use the starter code above to re-create a spark dataframe.
df = spark.createDataFrame(pandas_dataframe)
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

In [68]:
# Use when and .otherwise to create a column that contains the text "It is true" 
# when abool is true and "It is false"" when abool is false.
df.select(when(df.abool, 'It is true').otherwise('It is false')).show()

+----------------------------------------------------+
|CASE WHEN abool THEN It is true ELSE It is false END|
+----------------------------------------------------+
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                          It is true|
|                                          It is true|
|                                         It is false|
|                                         It is false|
|                                          It is true|
|                                          It is true|
|                                         It is false|
|                                         It is false|
|                                         It is false|
|                                          It is true|
|                                         It is false|
|                                          It is true|
+----------------------------------------------------+

In [69]:
# Create a column that contains 0 if n is less than 0, otherwise, the original n value.
df.select('n', when(df.n < 0, 0).otherwise(df.n)).show()

+--------------------+-----------------------------------+
|                   n|CASE WHEN (n < 0) THEN 0 ELSE n END|
+--------------------+-----------------------------------+
|  -0.712390662050588|                                0.0|
|   0.753766378659703|                  0.753766378659703|
|-0.04450307833805...|                                0.0|
| 0.45181233874578974|                0.45181233874578974|
|  1.3451017084510097|                 1.3451017084510097|
|  0.5323378882945463|                 0.5323378882945463|
|  1.3501878997225267|                 1.3501878997225267|
|  0.8612113741693206|                 0.8612113741693206|
|  1.4786857374358966|                 1.4786857374358966|
| -1.0453771305385342|                                0.0|
| -0.7889890249515489|                                0.0|
|  -1.261605945319069|                                0.0|
|  0.5628467852810314|                 0.5628467852810314|
|-0.24332625188556253|                                0.0|
|  0.9137407048596775|                 0.9137407048596775|
| 0.31735092273633597|                0.31735092273633597|
| 0.12730328020698067|                0.12730328020698067|
|  2.1503829673811126|                 2.1503829673811126|
|  0.6062886568962988|                 0.6062886568962988|
|-0.02677164998644...|                                0.0|
+--------------------+-----------------------------------+

### Filter / Where

In [71]:
# Use the starter code above to re-create a spark dataframe.
df = spark.createDataFrame(pandas_dataframe)
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

In [73]:
# Use .filter or .where to select just the rows where the group is y and view the results.
df.filter(df.group == 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
| -1.0453771305385342|    y| true|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
|  2.1503829673811126|    y| true|
+--------------------+-----+-----+

In [74]:
# Select just the columns where the abool column is false and view the results.
df.filter(~ df.abool).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

In [75]:
# Find the columns where the group column is not y.
df.filter(df.group != 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -0.7889890249515489|    x|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [77]:
# Find the columns where n is positive.
df.filter(df.n > 0).show()

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|  0.753766378659703|    x|false|
|0.45181233874578974|    y|false|
| 1.3451017084510097|    z|false|
| 0.5323378882945463|    y|false|
| 1.3501878997225267|    z|false|
| 0.8612113741693206|    x|false|
| 1.4786857374358966|    z| true|
| 0.5628467852810314|    y| true|
| 0.9137407048596775|    y|false|
|0.31735092273633597|    x|false|
|0.12730328020698067|    z|false|
| 2.1503829673811126|    y| true|
| 0.6062886568962988|    x|false|
+-------------------+-----+-----+

In [78]:
# Find the columns where abool is true and the group column is z.
df.filter(df.abool & (df.group == 'z')).show()

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|1.4786857374358966|    z| true|
+------------------+-----+-----+

In [79]:
# Find the columns where abool is true or the group column is z.
df.filter(df.abool | (df.group == 'z')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [80]:
# Find the columns where abool is false and n is less than 1
df.filter(~ df.abool & (df.n < 1)).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

In [81]:
# Find the columns where abool is false or n is less than 1
df.filter(~ df.abool | (df.n < 1)).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

### Sorting

In [82]:
# Use the starter code above to re-create a spark dataframe.
df = spark.createDataFrame(pandas_dataframe)
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

In [83]:
#Sort by the n value.
df.sort('n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -0.712390662050588|    z|false|
|-0.24332625188556253|    y| true|
|-0.04450307833805...|    z|false|
|-0.02677164998644...|    x| true|
| 0.12730328020698067|    z|false|
| 0.31735092273633597|    x|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.5628467852810314|    y| true|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  0.9137407048596775|    y|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
|  2.1503829673811126|    y| true|
+--------------------+-----+-----+

In [84]:
# Sort by the group value, both ascending and descending.
from pyspark.sql.functions import asc, desc
df.sort(asc('group')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
| 0.31735092273633597|    x|false|
|-0.24332625188556253|    y| true|
|  0.5323378882945463|    y|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|  2.1503829673811126|    y| true|
| -1.0453771305385342|    y| true|
| 0.45181233874578974|    y|false|
|  0.9137407048596775|    y|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
|  1.3451017084510097|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
|  -0.712390662050588|    z|false|
+--------------------+-----+-----+

In [85]:
df.sort(desc('group')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|-0.04450307833805...|    z|false|
|  1.3501878997225267|    z|false|
|  -0.712390662050588|    z|false|
| 0.12730328020698067|    z|false|
|  1.4786857374358966|    z| true|
|  1.3451017084510097|    z|false|
| -1.0453771305385342|    y| true|
|  0.5628467852810314|    y| true|
|  0.5323378882945463|    y|false|
|  -1.261605945319069|    y|false|
| 0.45181233874578974|    y|false|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
|  2.1503829673811126|    y| true|
|  0.8612113741693206|    x|false|
| 0.31735092273633597|    x|false|
|   0.753766378659703|    x|false|
| -0.7889890249515489|    x|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [86]:
# Sort by the group value first, then, within each group, sort by n value.
df.sort('group', 'n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
|-0.02677164998644...|    x| true|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
|-0.24332625188556253|    y| true|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.5628467852810314|    y| true|
|  0.9137407048596775|    y|false|
|  2.1503829673811126|    y| true|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
+--------------------+-----+-----+

In [87]:
# Sort by abool, group, and n. 
# Does it matter in what order you specify the columns when sorting?
df.sort('abool', 'group', 'n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  -1.261605945319069|    y|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.9137407048596775|    y|false|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|-0.02677164998644...|    x| true|
| -1.0453771305385342|    y| true|
|-0.24332625188556253|    y| true|
|  0.5628467852810314|    y| true|
|  2.1503829673811126|    y| true|
|  1.4786857374358966|    z| true|
+--------------------+-----+-----+

It does matter as it determines in what order they will be sorted. When the values for the first specified column are the same, the next specified column will determine sort order.

### Spark SQL

In [89]:
# Use the starter code above to re-create a spark dataframe.
df = spark.createDataFrame(pandas_dataframe)
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

In [93]:
# Turn your dataframe into a table that can be queried with spark SQL. 
#N ame the table my_df. 
# Answer the rest of the questions in this section with a spark sql query 
# (spark.sql) against my_df. After each step, view the first 7 records from the dataframe.
df.createOrReplaceTempView("my_df")
spark.sql("""
Select *
From my_df""").show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [95]:
# Write a query that shows all of the columns from your dataframe.
spark.sql("""SELECT * FROM my_df""").show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [97]:
# Write a query that shows just the n and abool columns from the dataframe.
spark.sql("""SELECT n, abool FROM my_df""").show()

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
|  0.5323378882945463|false|
|  1.3501878997225267|false|
|  0.8612113741693206|false|
|  1.4786857374358966| true|
| -1.0453771305385342| true|
| -0.7889890249515489|false|
|  -1.261605945319069|false|
|  0.5628467852810314| true|
|-0.24332625188556253| true|
|  0.9137407048596775|false|
| 0.31735092273633597|false|
| 0.12730328020698067|false|
|  2.1503829673811126| true|
|  0.6062886568962988|false|
|-0.02677164998644...| true|
+--------------------+-----+

In [99]:
# Write a query that shows just the n and group columns. Rename the group column to g.
spark.sql("""SELECT n, group as g FROM my_df""").show()

+--------------------+---+
|                   n|  g|
+--------------------+---+
|  -0.712390662050588|  z|
|   0.753766378659703|  x|
|-0.04450307833805...|  z|
| 0.45181233874578974|  y|
|  1.3451017084510097|  z|
|  0.5323378882945463|  y|
|  1.3501878997225267|  z|
|  0.8612113741693206|  x|
|  1.4786857374358966|  z|
| -1.0453771305385342|  y|
| -0.7889890249515489|  x|
|  -1.261605945319069|  y|
|  0.5628467852810314|  y|
|-0.24332625188556253|  y|
|  0.9137407048596775|  y|
| 0.31735092273633597|  x|
| 0.12730328020698067|  z|
|  2.1503829673811126|  y|
|  0.6062886568962988|  x|
|-0.02677164998644...|  x|
+--------------------+---+

In [103]:
# Write a query that selects n, and creates two new columns: n2, 
# the original n values halved, and n3: the original n values minus 1.
spark.sql("""SELECT n, n/2 as n2, n-1 as n3 FROM my_df""").show()

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|  -0.356195331025294|  -1.712390662050588|
|   0.753766378659703|  0.3768831893298515|-0.24623362134029703|
|-0.04450307833805...|-0.02225153916902...| -1.0445030783380536|
| 0.45181233874578974| 0.22590616937289487| -0.5481876612542103|
|  1.3451017084510097|  0.6725508542255049| 0.34510170845100974|
|  0.5323378882945463| 0.26616894414727316| -0.4676621117054537|
|  1.3501878997225267|  0.6750939498612634| 0.35018789972252673|
|  0.8612113741693206|  0.4306056870846603| -0.1387886258306794|
|  1.4786857374358966|  0.7393428687179483|  0.4786857374358966|
| -1.0453771305385342| -0.5226885652692671|  -2.045377130538534|
| -0.7889890249515489|-0.39449451247577444| -1.7889890249515488|
|  -1.261605945319069| -0.6308029726595346|  -2.261605945319069|
|  0.5628467852810314|  0.2814233926405157| -0.4371532147189686|
|-0.24332625188556253|-0.12166312594278127| -1.2433262518855626|
|  0.9137407048596775| 0.45687035242983876|-0.08625929514032249|
| 0.31735092273633597| 0.15867546136816799|  -0.682649077263664|
| 0.12730328020698067| 0.06365164010349034| -0.8726967197930193|
|  2.1503829673811126|  1.0751914836905563|  1.1503829673811126|
|  0.6062886568962988|  0.3031443284481494|-0.39371134310370115|
|-0.02677164998644...|-0.01338582499322...| -1.0267716499864408|
+--------------------+--------------------+--------------------+

In [ ]:
What happens if you make a SQL syntax error in your query?

In [ ]:
Aggregating

In [ ]:
What is the average n value for each group in the group column?

In [ ]:
What is the maximum n value for each group in the group column?

In [ ]:
What is the minimum n value by abool?

In [ ]:
What is the average n value for each unique combination of the group and abool column?